* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  align-items: center;
  

  
}

body {
  background-color: #d9dcd6;
}

 .header  {
  padding: 25px;
  font-family: cursive;
  background-color: #2a607c;
  background-image: src="C:\Users\ggosi\first_day_stuff\agnieszka.png" alt="Agnieszka" width="50" 
  height="50";
 
}

.header h1 a {
  display:inline-block ;
  font-size: 48px;
}


.header nav {
  padding-top: 0px;
  margin-right: 20px;
  float: right;
  font-family: cursive;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
.About_me {
  position: relative;
  text-align:end;
  color: rgb(16, 6, 6);
}

.hero-banner {
position:relative ;
bottom: 8px;
left: 16px;
text-align:right

}
.flex-container > div {
  background-color: rgb(239, 87, 214);
  color: rgb(84, 50, 250);
  width: 230px;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}
.flex-container {
  display: flex;
  background-color: #af33c3;
}

/*This is for up tp page contact 




/*.page-wrapper  {
    
 

  height: 200px;
  left: 30%;
  border-right: 6px solid rgb(78, 137, 233);
  left: 100px;


 
}

.page-section {
  height: 200px;
  position:static
  left: 100%;
  border-right: 6px solid rgb(78, 137, 233);
  float:left
}

.page-section-contact {
  height: 200px;
  position:static
  left: 30%;
  border-right: 6px solid rgb(78, 137, 233);
  float:left

}


*/


#categoryGrid {
  margin: 10px 5%;
  display: grid;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  align-content: end
  grid-template-rows: 30vh 30vh 30vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "Github1 Github1 Github1 "
  "Github2 Github2 Github3"
  "Github4 Github5 Github5"
  
}

.Github1 {
  grid-area: Github1;
  background-image: src("C:\Users\ggosi\first_day_stuff\image1.png");

}
#Github2 {
  grid-area: Github2;
  background-image: src("C:\Users\ggosi\first_day_stuff\image2.png");
}

#Github3 {
  grid-area: cGithub3;
  background-image: src="./starter/image3.png";
}

#Github4 {
  grid-area: Github4;
  background-image: src("C:\Users\ggosi\first_day_stuff\image4.png");
}

#Github5 {
  grid-area: Github5;
  background-image: src("C:\Users\ggosi\first_day_stuff\image5.png");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(67, 4, 56, 0.7);
  padding: 15px;
  height: 15px;
  color: rgb(237, 193, 228);
  font-size: 12px;
  border-bottom: 5px solid #ff1078;
}

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "Flex-container "
    "Category Grid"
    "Img.Float-Left"
    "Page-wrapper"
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 80vw;
    grid-template-areas:
      "Github1"
      "Github2"
      "Github3"
      "Github4"
      "Github5"
    ;
  }
}